<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hospital Services</title>
</head>
<body>
<td th:if="${error}" th:text="Add Error"></td>
<form method="post" action="/pharmacyAdmin/add">
    Pharmacy Name: <input type="text" name="name" required/><br>
    Address: <input type="text" name="address" required/><br>
    Phone Number: <input type="text" name="phoneNumber" pattern="[0-9]{9}" required/><br>
    Open At: <select name="openAt">
                <option value="24/7"> 24/7</option>
                <option value="08:00">08:00</option>
                <option value="08:30">08:30</option>
                <option value="09:00">09:00</option>
                <option value="09:30">09:30</option>
                <option value="10:00">10:00</option>
                <option value="10:30">10:30</option>
                <option value="11:00">11:00</option>
             </select>

    Close At: <select name="closeAt">
                <option value="24/7"> 24/7</option>
                <option value="18:00">18:00</option>
                <option value="18:30">18:30</option>
                <option value="19:00">19:00</option>
                <option value="19:30">19:30</option>
                <option value="20:00">20:00</option>
                <option value="20:30">20:30</option>
                <option value="21:00">21:00</option>
                <option value="21:30">21:30</option>
                <option value="22:00">22:00</option>
                <option value="22:30">22:30</option>
                <option value="23:00">23:00</option>
                <option value="23:30">23:30</option>
                <option value="00:00">00:00</option>
              </select>

    <button type="submit" name="btn">Add</button>
</form>
</body>
</html>