<div xmlns:th="http://www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{base_layout}"
         layout:fragment="~{body}" th:remove="tag">
    <a class="btn btn-warning" role="button" href="/departmentAdmin" style="text-decoration: none;"> Back </a>
    <div class="card" style=" width: 50%;">
        <div class="card-body px-lg-5 pt-0">
            <h3>Add Department!</h3>
<!--            <td th:if="${error == null}" th:text="Department Error"></td>-->
            <form  th:action="@{/addDepartment}"  method="post">
                <div class="md-form">
                    <input type="text" name="name" class="form-control" placeholder="Name" required/><br>
                </div>
                <input class="btn btn-success" type="submit" value="Add Department">
         </form>
        </div>
    </div>
</div>
