<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{base_layout}"
     layout:fragment="~{body}" th:remove="tag">
            <a class="btn btn-warning" role="button" href="/mainAdmin" style="text-decoration: none;"> Go back to Department! </a>
            <div class="card" style=" width: 50%;">
                <div class="card-body px-lg-5 pt-0">
                    <h3>Add Hospital!</h3>
<td th:if="${error == null}" th:text="Add Error"></td>
    <form method="post" action="/mainAdmin/add">
            <div class="md-form">
                <input type="text" name="name" class="form-control" placeholder="Hospital Name" required/><br>
            </div>
            <div class="md-form">
                <input type="text" name="executive" class="form-control" placeholder="Executive" required/><br>
            </div>
        <div class="md-form">
            <input type="text" name="address" class="form-control" placeholder="Address" required /><br>
        </div>

        <div class="md-form">
            <input type="text" name="phoneNumber" class="form-control" placeholder="Phone Number" required pattern="[0-9]{9}"/><br>
        </div>
        <div class="md-form">
            <input type="text" name="site" class="form-control" placeholder="Site" required/><br>
        </div>
        <button class="btn btn-success" type="submit" name="btn">Add Hospital</button>
</form>

                </div></div></div>