<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{base_layout}"
     layout:fragment="~{body}" th:remove="tag">
<a class="btn btn-warning" role="button" href="/logout">Logout</a><br><br>
<h3>Department List:</h3>
            <div class="panel panel-primary filterable">
                <div class="panel-heading">
                    <h3 class="panel-title">Users</h3>
                    <div class="pull-right">
                        <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                    </div>
                </div>
<table class="department table table-hover">
    <thead>
    <tr class="filters">
<!--        <th><input type="text" class="form-control" placeholder="#" disabled></th>-->
        <th><input type="text" class="form-control" placeholder="Name" disabled></th>

    </tr>
    </thead>

    <tbody>
    <tr th:each="d: ${departmentList.content}">
        <td th:text="${d.name}"></td>
        <td class="delete"><a  th:href="@{/delete(id=${d.id})}" >Delete Department</a></td>
        <td class="edit"><a  th:href="@{/editDepartment(id=${d.id})}">Edit Department</a></td>
        <td class="doctorsList"><a  th:href="@{/byDepartment(departmentId=${d.id})}">DoctorList</a></td>
    </tr>
    </tbody>
</table>
                <div th:if="${departmentList.totalPages > 0}" class="pagination"
                     th:each="pageNumber : ${pageNumbers}">
                        <a th:href="@{/departmentAdmin/(size=${departmentList.size}, page=${pageNumber})}"
                           th:text="${pageNumber}"
                           th:class="${pageNumber==departmentList.number + 1} ? active"></a>
                </div>

<br>

<a class="btn btn-info" role="button" href="/addDepartment" style="text-decoration: none;"> Add Department </a>
            <a th:if="${!departmentList.content.isEmpty()}" class="btn btn-info" role="button" href="/addDoctor" style="text-decoration: none;"> Add Doctor </a>

</div>
</div>


<style>
 .department  td.delete a{
     color:red;
 }

 .department  td.edit a{
     color:#f0ad4e;
 }

 .department  td.doctorsList a{
     color:#5bc0de;
 }

 .filterable {
     margin-top: 15px;
 }
 .filterable .panel-heading .pull-right {
     margin-top: -20px;
 }
 .filterable .filters input[disabled] {
     background-color: transparent;
     border: none;
     cursor: auto;
     box-shadow: none;
     padding: 0;
     height: auto;
 }
 .filterable .filters input[disabled]::-webkit-input-placeholder {
     color: #333;
 }
 .filterable .filters input[disabled]::-moz-placeholder {
     color: #333;
 }
 .filterable .filters input[disabled]:-ms-input-placeholder {
     color: #333;
 }
.pagination a.active{
    color:red;
}
</style>

<script>
    jQuery(document).ready(function(){
        jQuery('.filterable .btn-filter').click(function(){
            var $panel = $(this).parents('.filterable'),
                $filters = $panel.find('.filters input'),
                $tbody = $panel.find('.table tbody');
            if ($filters.prop('disabled') == true) {
                $filters.prop('disabled', false);
                $filters.first().focus();
            } else {
                $filters.val('').prop('disabled', true);
                $tbody.find('.no-result').remove();
                $tbody.find('tr').show();
            }
        });

        jQuery('.filterable .filters input').keyup(function(e){
            /* Ignore tab key */
            var code = e.keyCode || e.which;
            if (code == '9') return;
            /* Useful DOM data and selectors */
            var $input = jQuery(this),
                inputContent = $input.val().toLowerCase(),
                $panel = $input.parents('.filterable'),
                column = $panel.find('.filters th').index($input.parents('th')),
                $table = $panel.find('.table'),
                $rows = $table.find('tbody tr');
            /* Dirtiest filter function ever ;) */
            var $filteredRows = $rows.filter(function(){
                var value = $(this).find('td').eq(column).text().toLowerCase();
                return value.indexOf(inputContent) === -1;
            });
            /* Clean previous no-result if exist */
            $table.find('tbody .no-result').remove();
            /* Show all rows, hide filtered ones (never do that outside of a demo ! xD) */
            $rows.show();
            $filteredRows.hide();
            /* Prepend no-result row if all rows are filtered */
            if ($filteredRows.length === $rows.length) {
                $table.find('tbody').prepend($('<tr class="no-result text-center"><td colspan="'+ $table.find('.filters th').length +'">No result found</td></tr>'));
            }
        });

    });


</script>