<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{base_layout}"
     layout:fragment="~{body}" th:remove="tag">

    <a class="btn btn-warning" role="button" th:href="@{'/doctor/' + ${patientHistory.getDoctor().getId()} + '/history/' + ${patientHistory.getPatient().getId()}}" style="text-decoration: none;"> Back </a>
    <div class="card" style=" width: 50%;">
        <div class="card-body px-lg-5 pt-0">
            <h3>Add Patinet Diagnose and Recipe!</h3>
            <form  th:action="@{/addDiagnoseByPatientId(doctorId=${patientHistory.getDoctor().id})}"  method="post">
                <input type="hidden" name="id" th:value="${patientHistory.id}">
                <input type="hidden" name="doctorId" th:value="${patientHistory.getDoctor().id}">
                <input type="hidden" name="patientId" th:value="${patientHistory.getPatient().id}">
                <input type="hidden" name="complaints" th:value="${patientHistory.getComplaints()}">
                <div class="md-form">
                    <textarea rows="4" cols="50" name="diagnose" th:value="${patientHistory.diagnose}" class="form-control">
                    </textarea>
                </div>

                <input class="btn btn-success" type="submit" value="Add or Edit Diagnose">
            </form>
            <hr>
            <button class="btn btn-success" onclick="myFunction()">Click to add Recipe</button><br>
            <form id="appear" th:action="@{/addRecipe}" method="post">
                <input type="hidden" name="doctorId" th:value="${patientHistory.getDoctor().id}" id="doctorId">
                <div class="md-form">
                    <textarea rows="4" cols="50" name="description"  class="form-control" id="description">
                    </textarea>
                </div>

                <div class="form-group">
                    Medicine:<select  class="form-control"   id="medicines" name="medicines"  multiple="multiple"><br>
                    <option th:each="m : ${medicines}" th:value="${m.id}" th:text="${m.name }" >
                    </option>
                </select><br>
                </div>
                <input class="btn btn-warning" type="submit" value="Add Recipe">
            </form>
        </div>
    </div>


</div>


<style>
    #appear{
        display: none;
        margin-top: 10px;
    }
</style>

<script>
    function myFunction() {
        var x = document.getElementById("appear");
        if (x.style.display == "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
</script>