<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{base_layout}"
     layout:fragment="~{body}" th:remove="tag">
    <a class="btn btn-warning" role="button" href="/patient" style="text-decoration: none;"> Back! </a>
<div th:if="${!doctors.isEmpty()}">
    <h3>Doctor List</h3>
    <table class="department table table-hover">
        <thead>
        <tr>
            <td>Name</td>
            <td>Surname</td>
            <td>Phone Number</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doctor : ${doctors}">
            <td th:text="${doctor.name}"></td>
            <td th:text="${doctor.surname}"></td>
            <td th:text="${doctor.phoneNumber}"></td>
            <td><a class="btn btn-info" role="button" th:href="@{'/patient/' + ${patientId} + '/chat/' + ${doctor.id}}">Start Chatting</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:unless="${!doctors.isEmpty()}">
    <h2>You have no doctors!</h2>
</div>
        </div>
