<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{base_layout}"
     layout:fragment="~{body}" th:remove="tag">
            <a class="btn btn-warning" role="button" href="/departmentAdmin">Back</a><br><br>
<h3>Doctors List:</h3>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Department</th>
        <th>Hospital</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="d: ${doctors}">
        <td th:text="${d.name}"></td>
        <td th:text="${d.surname}"></td>
        <td th:text="${d.age}"></td>
        <td th:text="${d.department.name}"></td>
        <td th:text="${d.hospital.name}"></td>
        <td><a  th:href="@{/deleteDoctor(id=${d.id})}" >Delete Doctor</a></td>
    </tr>
    </tbody>
</table>

            <div th:if="${doctors.totalPages > 0}" class="pagination"
                 th:each="pageNumber : ${pageNumbers}">
                    <a th:href="@{'/byDepartment?departmentId='+${departmentId.intValue()}+'&'(size=${doctors.size}, page=${pageNumber})}"
                       th:text="${pageNumber}"
                       th:class="${pageNumber==doctors.number + 1} ? active"></a>
            </div>
<br>
        </div>
