<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DoctorsByDepartment</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <a class="btn btn-warning" role="button" href="/logout">Logout</a><br><br>
<h3>Doctors List:</h3>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Surname</th>
        <th>Doctor's department name</th>
        <th>Doctor's hospital name</th>
        <th colspan="3" >Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="d: ${doctors}">
        <td th:text="${d.name}"></td>
        <td th:text="${d.age}"></td>
        <td th:text="${d.surname}"></td>
        <td th:text="${d.department.name}"></td>
        <td th:text="${d.hospital.name}"></td>
        <td><a  th:href="@{/deleteDoctor(id=${d.id})}" >Delete Doctor</a></td>
<!--        <td><a  th:href="@{/editDoctor(id=${d.id})}">Edit Doctor</a></td>-->
    </tr>
    </tbody>
</table>
<br>
<a class="btn btn-info" role="button" href="/addDoctor" style="text-decoration: none;"> Add Doctor </a>
            <a class="btn btn-warning" role="button" href="/departmentAdmin" style="text-decoration: none;"> Go back to Department! </a>
        </div>
    </div>
</div>
</body>
</html>