<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{base_layout}"
     layout:fragment="~{body}" th:remove="tag">
            <a class="btn btn-warning" role="button" href="/logout">Logout</a><br><br>
            <h4 th:text="${user.name}"></h4>
            <h4 th:text="${user.surname}"></h4>
            <a class="btn btn-info" role="button" th:href="@{/patientListByDoctorId(doctorId=${user.id})}"  style="text-decoration: none;">Doctor's Patient List </a>

        </div>
