<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/logout">Logout</a><br><br>
<h3>Doctors List:</h3>
<table border="1">
    <tr>
        <td>Name</td>
        <td>Age</td>
        <td>Surname</td>
        <td>Doctor's department name</td>
        <td>Doctor's hospital name</td>
        <td colspan="3" >Action</td>
    </tr>
    <tr th:each="d: ${doctors}">
        <td th:text="${d.name}"></td>
        <td th:text="${d.age}"></td>
        <td th:text="${d.surname}"></td>
        <td th:text="${d.department.name}"></td>
        <td th:text="${d.hospital.name}"></td>
        <td><a  th:href="@{/deleteDoctor(id=${d.id})}" >Delete Doctor</a></td>
        <td><a  th:href="@{/edit(id=${d.id})}">Edit Doctor</a></td>
    </tr>
</table>
<br>
<a role="button" class="btn btn-success" href="/addDoctor" style="text-decoration: none;"> Add Doctor </a>
</body>
</html>