<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Department</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <a class="btn btn-warning" role="button" href="/departmentAdmin" style="text-decoration: none;"> Go back to Department! </a><br>
            <div class="card" style=" width: 50%;">
                <div class="card-body px-lg-5 pt-0">
                    <h3>Edit Department!</h3>

                    <form  th:action="@{/editDepartment}"  method="post">
                        <div class="md-form">
                            <input type="hidden" name="id" th:value="${department.id}"></div>
                        <div class="md-form">
                            <input type="text" name="name" class="form-control" placeholder="Name" required th:value="${department.name}"/><br>
                        </div>
<!--                        <div class="form-group">-->
<!--                            <select name="hospital.id"   class="form-control"><br>-->
<!--                                <option th:each="h : ${hospitaltList}" th:value="${h.id}" th:text="${h.name}" th:selected="${h.id} == ${department.hospital.id}">-->
<!--                                </option>-->
<!--                            </select>-->
<!--                            <br>-->
<!--                        </div>-->
                        <input class="btn btn-warning" type="submit" value="Edit Department">
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>