<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{base_layout}"
     layout:fragment="~{body}" th:remove="tag">
            <a class="btn btn-warning" role="button" href="/departmentAdmin" style="text-decoration: none;"> Back </a><br>
            <div class="card" style=" width: 50%;">
                <div class="card-body px-lg-5 pt-0">
                    <h3>Edit Department!</h3>

                    <form  th:action="@{/editDepartment}"  method="post">
                        <div class="md-form">
                            <input type="hidden" name="id" th:value="${department.id}"></div>
                        <div class="md-form">
                            <input type="text" name="name" class="form-control" placeholder="Name" required th:value="${department.name}"/><br>
                        </div>
                        <input class="btn btn-success" type="submit" value="Edit Department">
                    </form>
                </div>
            </div>

        </div>
