<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{base_layout}"
     layout:fragment="~{body}" th:remove="tag">
            <a class="btn btn-warning" role="button" href="/mainAdmin" style="text-decoration: none;"> Back </a><br>
            <div class="card" style=" width: 50%;">
                <div class="card-body px-lg-5 pt-0">
                    <h3>Edit Hospital</h3>
    <form method="post" action="/mainAdmin/edit">
        <div class="md-form">
            <input type="text" name="name" class="form-control" placeholder="Hospital Name" required th:value="${hospital.name}"/><br>
        </div>
        <div class="md-form">
            <input type="text" name="executive" class="form-control" placeholder="Executive" required th:value="${hospital.executive}"/><br>
        </div>
        <div class="md-form">
            <input type="text" name="address" class="form-control" placeholder="Address" required th:value="${hospital.address}"/><br>
        </div>
        <div class="md-form">
            <input type="text" name="phoneNumber" class="form-control" placeholder="Phone Number" required th:value="${hospital.phoneNumber}" pattern="[0-9]{9}"/><br>
        </div>
        <div class="md-form">
            <input type="text" name="site" class="form-control" placeholder="Site" required th:value="${hospital.site}"/><br>
        </div>
        <div class="md-form">
            <input type="hidden" name="id" th:value="${hospital.id}">
        </div>
        <button class="btn btn-warning" type="submit">Edit Hospital</button>
    </form>
                </div></div>
        </div>
