<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{base_layout}"
     layout:fragment="~{body}" th:remove="tag">
    <a class="btn btn-warning" role="button" th:href="@{'/patient/' + ${patientId} + '/history'}" style="text-decoration: none;"> Back </a><br>

    <h2>Complaints</h2><br>
    <p th:text="${history.complaints}"></p><br>

    <h2>Diagnose</h2><br>
    <div th:if="${history.diagnose != null}">
        <p th:text="${history.diagnose}"></p><br>
    </div>
    <div th:unless="${history.diagnose != null}">
        <p th:text="'Absent'"></p><br>
    </div>

    <h2>Therapist</h2><br>
    <p th:text="${history.doctorDto.name} + ' ' + ${history.doctorDto.surname}"></p><br>


    <div th:if="${history.recipeDto != null}">
        <h2>Recipe</h2><br>
        <div th:each="medicine: ${history.recipeDto.medicines}">
            <p style="display: table-cell" th:text="${medicine.name} + ', '"></p>
        </div>

        <br><h2>Recipe Description</h2><br>
        <p th:text="${history.recipeDto.description}"></p>
    </div>
    <div th:unless="${history.recipeDto != null}">
        <h2>Recipe</h2><br>
        <p th:text="'Absent'"></p>

        <br><h2>Recipe Description</h2><br>
        <p th:text="'Absent'"></p>
    </div>
</div>