<!DOCTYPE html>
<html>
<head lang="en">

    <meta charset="UTF-8"/>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div style="text-align: center;
    display: block;margin-top:20px">

    <a role="button" class="btn btn-success" href="/login" style="text-decoration: none;"> Login </a>

    <a role="button" class="btn btn-success" href="/user/register" style="text-decoration: none">Register
    </a>
</div>

</body>
</html>