<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Hospital</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body >
<div style="text-align: center;
    display: block;margin-top:20px">
    <a role="button" class="btn btn-primary" href="/login" style="text-decoration: none;"> Login </a>
    <a role="button" class="btn btn-primary" href="/register" style="text-decoration: none">Register
    </a>
</div>
<style>
    body {
        background-image: url("../img/doctor.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 637px;

    }
</style>
</body>
</html>