<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="jumbotron">
<a class="btn btn-warning" role="button" href="/logout">Logout</a>

<h3>Hospital List:</h3>
<table class="mainAdmin table table-hover">
    <thead>
    <tr>
        <td>Name</td>
        <td>Executive</td>
        <td>Address</td>
        <td>Phone Number</td>
        <td>Site</td>
        <td colspan="2">Action</td>
    </tr></thead>
    <tbody>
    <tr th:each="h: ${hospitalList}">
        <td th:text="${h.name}"></td>
        <td th:text="${h.executive}"></td>
        <td th:text="${h.address}"></td>
        <td th:text="${h.phoneNumber}"></td>
        <td th:text="${h.site}"></td>

        <td class="delete"><a  th:href="@{'/mainAdmin/delete/' + ${h.id}}" >Delete Hospital</a></td>
        <td class="edit"><a  th:href="@{'/mainAdmin/edit/' + ${h.id}}">Edit Hospital</a></td>
    </tr></tbody>
</table>

<a role="button" class="btn btn-info" href="/mainAdmin/add" style="text-decoration: none;"> Add Hospital </a>
        </div></div></div>
</body>
</html>
<style>
    .mainAdmin td.delete a{
        color:red;
    }

    .mainAdmin td.edit a{
        color:#f0ad4e;
    }

    .mainAdmin td.doctorsList a{
        color:#5bc0de;
    }
</style>