<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/logout">Logout</a>

<h3>Hospital List:</h3>
<table border="1">
    <tr>

        <td>Name</td>
        <td>Executive</td>
        <td>Address</td>
        <td>Phone Number</td>
        <td>Site</td>
        <td colspan="2">Action</td>
    </tr>
    <tr th:each="h: ${hospitalList}">
        <td th:text="${h.name}"></td>
        <td th:text="${h.executive}"></td>
        <td th:text="${h.address}"></td>
        <td th:text="${h.phoneNumber}"></td>
        <td th:text="${h.site}"></td>
        <td><a  th:href="@{'/mainAdmin/delete/' + ${h.id}}" >Delete Hospital</a></td>
        <td><a  th:href="@{'/mainAdmin/edit/' + ${h.id}}">Edit Hospital</a></td>
    </tr>
</table>

<a role="button" class="btn btn-success" href="/mainAdmin/add" style="text-decoration: none;"> Add Hospital </a>
</body>
</html>