<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{base_layout}"
     layout:fragment="~{body}" th:remove="tag">
            <a class="btn btn-warning" role="button" href="/pharmacyAdmin">Back</a>

    <div th:if="${!pharmacyMedicines.isEmpty()}">
        <h3>Medicine List:</h3>
        <table class="mainAdmin table table-hover">
            <thead>
            <tr>
                <td>Medicine Name</td>
                <td>Medicine Count</td>
            </tr>
            </thead>
        <tbody>
            <tr th:each="pharmacyMedicine : ${pharmacyMedicines}">
                <td th:text="${pharmacyMedicine.medicine.name}"></td>
                <td th:text="${pharmacyMedicine.medicineCount}"></td>
                <td><a  th:href="@{'/pharmacyAdmin/medicines/' + ${pharmacyMedicine.pharmacyId} + '/delete/' + ${pharmacyMedicine.medicine.id}}" >Delete Medicine</a></td>
                <td><a  th:href="@{'/pharmacyAdmin/medicines/' + ${pharmacyMedicine.pharmacyId} + '/edit/' + ${pharmacyMedicine.medicine.id}}" >Edit Medicine</a></td>
            </tr>
        </tbody>
        </table>
    </div>
    <div th:unless="${!pharmacyMedicines.isEmpty()}">
        <h2>There are no medicines in this pharmacy!</h2>
    </div>
        </div>
