<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{base_layout}"
     layout:fragment="~{body}" th:remove="tag">
            <a class="btn btn-warning" style="float: left;" role="button" href="/patient">Back</a>
            <a class="btn btn-warning" style="float: right;" role="button" th:href="@{'/patient/' + ${patientId} + '/cart'}">Cart</a>

            <div th:if="${!medicinesWithPharmacies.isEmpty()}">
                <br>Filter By Pharmacy Name<br>
                <select id="mylist" onchange="myFunction()" class='form-control'>
                <option>All</option>
                    <div th:each="pharmacyName: ${pharmacyNames}">
                        <option th:text="${pharmacyName}"></option>
                    </div>
                </select>
                <table id="myTable" class="medicine table table-hover">
                    <thead>
                    <tr>
                        <th>Medicine Name</th>
                        <th>Pharmacy Name</th>
                        <th>Pharmacy Address</th>
                        <th>Medicine Count</th>
                        <th>Sale</th>
                    </tr>
                    </thead>
                    <tbody th:each="medicineWithPharmacy: ${medicinesWithPharmacies}">
                        <div th:if="${!medicineWithPharmacy.value.isEmpty()}">
                            <tr th:each="pharmacyMedicine: ${medicineWithPharmacy.value}">
                                <td th:text="${medicineWithPharmacy.key.name}"></td>
                                <td th:text="${pharmacyMedicine.pharmacyName}"></td>
                                <td th:text="${pharmacyMedicine.pharmacyAddress}"></td>
                                <td th:text="${pharmacyMedicine.medicineCount}"></td>
                                <td style="color: green" th:text="'In'"></td>
                                <td class="delete"><a  role="button" class="btn btn-success" th:onclick="|addToCart('${medicineWithPharmacy.key.name}')|" >Add To Cart</a></td>
                            </tr>
                        </div>
                        <tr th:unless="${!medicineWithPharmacy.value.isEmpty()}">
                            <td th:text="${medicineWithPharmacy.key.name}"></td>
                            <td th:text="'-----'"></td>
                            <td th:text="'-----'"></td>
                            <td th:text="'-----'"></td>
                            <td style="color: red" th:text="'Out'"></td>
                        </tr>
                    </tbody>
                </table>
                <div th:if="${!pageNumbers.isEmpty()}" class="pagination"
                     th:each="pageNumber : ${pageNumbers}">
                        <a th:href="@{'/patient/' + ${patientId.intValue()} + '/order/' + ${pageNumber} + '/' + ${medicines.size}}"
                           th:text="${pageNumber}"
                           th:class="${pageNumber==medicines.number + 1} ? active"></a>
                </div>
                </div>
    <div th:unless="${!medicinesWithPharmacies.isEmpty()}">
        There Are No Medicine!
    </div>
            </div>

        </div>


<script>
    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("mylist");
        filter = input.value.toUpperCase();

        if (filter == "ALL") {
            filter = "";
        }

        console.log(filter);
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    
    function addToCart(medicineName) {
        var medicines = JSON.parse(localStorage.getItem("medicines"));
        if (medicines == null || medicines == "null") {
            var medicineArray = new Array();
            medicineArray[0] = medicineName;
            localStorage.setItem("medicines", JSON.stringify(medicineArray));
            localStorage.setItem("index", JSON.stringify(0));
        } else {
            var index = JSON.parse(localStorage.getItem("index"));
            medicines[++index] = medicineName;
            localStorage.setItem("medicines", JSON.stringify(medicines));
            localStorage.setItem("index", JSON.stringify(index));
        }
    }
</script>

<style>
    .form-control{
        width:20%;
    }
</style>