<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="jumbotron">
           <div th:if="${!patientHistories.isEmpty()}">
               <table class="department table table-hover">
                   <thead>
                   <tr>
                       <th>Complaints</th>
                       <th>Diagnose</th>
                   </tr>
                   </thead>
                   <tbody>
                   <tr th:each="patientHistory: ${patientHistories}">
                       <td th:text="${patientHistory.complaints}"></td>
                       <td th:text="${patientHistory.diagnose}"></td>
                   </tr>
                   </tbody>
               </table>
           </div>
            <div th:unless="${!patientHistories.isEmpty()}">
                You have no history!
            </div>
        </div>
    </div>
</div>
</body>
</html>