<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{base_layout}"
     layout:fragment="~{body}" th:remove="tag">
<div th:if="${registered}">
    <script>alert("Your Complaints Send Successfully!")</script>
</div>
            <a class="btn btn-warning" role="button" href="/logout">Logout</a><br><br>
            <div align="left" th:text="${patient.name} + ' ' + ${patient.surname}"><br></div>

        <a  class="btn btn-info" role="button" th:href="@{'/patient/' + ${patient.id} + '/history'}" style="text-decoration: none;">See Disease History</a>
        <a  class="btn btn-info" role="button" th:href="@{'/patient/' + ${patient.id} + '/edit'}" style="text-decoration: none;">Edit Profile</a>
        <a  class="btn btn-info" role="button" th:href="@{'/patient/' + ${patient.id} + '/doctors'}" style="text-decoration: none;">My Doctors</a>
        <a  class="btn btn-info" role="button" th:href="@{'/patient/' + ${patient.id} + '/register'}" style="text-decoration: none;">Register for consultation</a>
        <a  class="btn btn-info" role="button" th:href="@{'/patient/' + ${patient.id} + '/order/1/5'}" style="text-decoration: none;">Order Medicine</a>
    </div>

