<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{base_layout}"
     layout:fragment="~{body}" th:remove="tag">
<div th:if="${registered}">
    <script>alert("Your Complaints Send Successfully!")</script>
</div>

            <a class="btn btn-warning" role="button" href="/logout">Logout</a><br><br>
            <div align="left" th:text="${patient.name} + ' ' + ${patient.surname}"><br></div>

        <a  th:href="@{'/patient/' + ${patient.id} + '/history'}" >See Disease History</a>
        <a  th:href="@{'/patient/' + ${patient.id} + '/edit'}" >Edit Profile</a>
        <a  th:href="@{'/patient/' + ${patient.id} + '/doctors'}" >My Doctors</a>
        <a  th:href="@{'/patient/' + ${patient.id} + '/register'}" >Register for consultation</a>
        <a  th:href="@{'/patient/' + ${patient.id} + '/order/1/5'}" >Order Medicine</a>
    </div>

