<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:if="${registered}">
    <script>alert("Your Complaints Send Successfully!")</script>
</div>
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <a class="btn btn-warning" role="button" href="/logout">Logout</a><br><br>
            <div align="left" th:text="${patient.name} + ' ' + ${patient.surname}"><br></div>
        </div>
        <a  th:href="@{'/patient/' + ${patient.id} + '/history'}" >See Disease History</a>
        <a  th:href="@{'/patient/' + ${patient.id} + '/edit'}" >Edit Profile</a>
        <a  th:href="@{'/patient/' + ${patient.id} + '/doctors'}" >My Doctors</a>
        <a  th:href="@{'/patient/' + ${patient.id} + '/register'}" >Register for consultation</a>
        <a  th:href="@{'/patient/' + ${patient.id} + '/order'}" >Order Medicine</a>
    </div>
</div>
</body>
</html>